#shield{
  color:black;
  border: 2px solid rgb(238, 5, 5);
  border-radius: 30px;
  background-color:grey;
  width: 80px;
  height: 80px;

}
#dodgeLeft{
  color:black;
  border: 2px solid rgb(238, 5, 5);
  border-radius: 30px;
 
  width: 90px;
  height: 90px;
}
#dodge{
  color:black;
border: 2px solid rgb(238, 5, 5);
border-radius: 30px;

width: 90px;
height: 90px;

}

#chooseWeapon{
  color:black;
border: 2px solid rgb(238, 5, 5);
border-radius: 30px;

width: 160px;
height: 50px;

}

#Attack{
  color:black;
border: 2px solid rgb(238, 5, 5);
border-radius: 30px;
background-color:grey;
width: 90px;
height: 90px;

}
body{
  background-color:rgb(138, 138, 135);
}
select {
  width: 200px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  border: 1px solid #C0C0C0;
  height: 54px;
  border-radius: 40px;

  /* WebKit */
  -webkit-appearance: none;
  /* Mozilla */
  -moz-appearance: none;
  /* Opera */
  -o-appearance: none;
  /* Internet Explorer */
  -ms-appearance: none;
  /* CSS3 */
  appearance: none;
}

.switch {
  position: relative;
  /* No line-break after the element, so the element can sit next to other elements.*/
  display: inline-block;
  width: 80px;
  height: 54px;
}

